<div id="library-system" class="jumbotron text-center">
    <h1>RF-SMART Library Book System</h1>
</div>

<div class="row">
    <h1 id="books-heading" style="color: white">Books</h1>
    <table id="books-table" class="table table-striped book-item">

        <thead>
            <tr>
                <th id="book-id-header" class="sortable" data-column="BookId">Book ID</th>
                <th id="book-name-header" class="sortable" data-column="bookname">Book Name</th>
                <th id="author-name-header" class="sortable" data-column="AuthorName">Author</th>
                <th id="Genre-header" class="sortable" data-column="Genre">Genre</th>
                <th id="publish-year-header" class="sortable" data-column="PublishYear">Year Published</th>
                <th id="book-status-header" class="sortable" data-column="BookStatus">Book Status</th>
                <th id="action-header">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
                <td>{{this.BookId}}</td>
                <td>{{this.BookName}}</td>
                <td>{{this.AuthorName}}</td>
                <td>{{this.Genre}}</td>
                <td>{{this.PublishYear}}</td>
                <td>{{this.BookStatus}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <form id="borrow-form-{{this.BookId}}" method="post" action="/books/borrow/{{this.BookId}}">
                            <button type="submit" class="btn btn-info">Check Out</button>
                        </form>

                        <form id="edit-form-{{this.BookId}}" method="post" action="/books/edit-book/{{this.BookId}}">
                            <input type="hidden" name="BookId" value="{{this.BookId}}">
                            <input type="hidden" name="BookStatus" value="{{this.BookStatus}}">
                            <!-- Replace with dynamic value if needed -->
                            <button type="submit" class="btn btn-info">Update Status</button>
                        </form>

                        <form id="comment-form-{{this.BookId}}" method="post"
                            action="/books/add-comment/{{this.BookId}}">
                            <button type="submit" class="btn btn-info">Add Comment</button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>